.promptBar{
    margin-top: 70px;
}

.promptBar--form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.promptBar--form__personabtn{
    background: #0E0E20;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 6px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 8px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F1F5F9;
    cursor: pointer;
}

.promptBar--form > input {
    padding: 12px 10px 12px 0px;
    outline: none;
    gap: 10px;
    width: 40rem;
    background: #090916;
    border: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 0px 6px 0px 0px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #F3EEFD;
    text-indent: 16px;
}

.promptBar--form > input:focus {
    border-color:rgba(255, 255, 255, 0.75);
}

.promptBar--form__askbtn{
    background: #585BC0;
    border-radius: 6px;
    padding: 16px;
    margin-left: 12px;
    outline: none;
    border: none;
    cursor: pointer;
}
.promptBar--form__arrowicon{
    background: #585BC0;
}


.response-section{
    display: flex;
    flex-direction: column;
  }
  .retry-btn{
    align-self: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F3EEFD;
    cursor: pointer;
    margin-top: 33px;
  }
  
  .retry-btn:hover{
    text-decoration: underline;
  }