*{
  margin: 0;
  background-color: #050518;
  color: #F9F6FE;
  box-sizing: border-box;
}
.app{
  padding-bottom: 80px;
}
.mainSection{
  padding: 0 5rem;
}


::-moz-selection { /*Code for Firefox */
  color: #ffff;
  background: #5D5FEF;
}

::selection {
  color: #ffff;
  background: #5D5FEF;
}